.empty-cart {
    text-align: center;
    margin: 20px 0;
    color: rgb(68, 68, 68);
}

.cart-item-wrapper {
    position: relative;
    padding: 10px 5px;
}

.cart-item-wrapper:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: calc(100% - 10px);
    height: 1px;
    background-color: rgb(68, 68, 68);
    opacity: .6;
}