.product-page-container {
    width: 80vw;
    margin: 40px auto 0;
    max-width: 870px;
    display: grid;
    grid-template-columns: 450px 1fr;
    grid-column-gap: 15px;
    margin-bottom: 20px;
}

.product-info-block {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.product-brand {
    color: hsl(26, 100%, 55%);
    font-size: 16px;
}

.product-name {
    font-size: 48px;
    font-weight: bold;
    line-height: 40px;
    margin: 15px 0;
}

.product-description {
    color: #7e7e87;
    width: 80%;
}

.product-price {
    font-weight: bold;
    font-size: 22px;
}

.controls-block,
.controls-block .quantity-control-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls-block {
    width: 80%;
    margin-top: 20px 0;
}

.controls-block .quantity-control-block {
    padding: 10px;
    border-radius: 10px;
    background-color: #e9e9ed;
}

.controls-block .quantity-control-block button {
    background-color: transparent;
    border: none;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.controls-block .quantity-control-block span {
    margin: 0 10px;
    font-size: 18px;
    width: 25px;
    text-align: center;
}

.add-to-cart-btn {
    width: 160px;
    height: 50px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    border: none;
    background-color: hsl(26, 100%, 55%);
    cursor: pointer;
    transition: all 0.5s ease;
}

.add-to-cart-btn:hover {
    background-color: hsl(26, 90%, 48%);
}

.add-to-cart-btn:active,
.controls-block .quantity-control-block button:active {
    transform: scale(1.1);
}

